*{
    margin: 0px;
}
#MyAccount{
    margin-left: 15%;
}
#MyAccount h3{
    margin-top:50px;
    margin-left:5%;
    margin-bottom: 10px;
    font-family: 幼圆;
    font-size: 30px;
}
#MyAccount hr{
    margin-bottom: 50px;
}
#MyAccount h2{
    position: absolute;
    top:50px;
    left:150px;
    font-family: 幼圆;
    font-size: 40px;
    color: #42d0f0;
}
#MyAccount h2 span{
    font-size: 30px;
    color:#41464b;
}
#MyAccount #MyAccount_sex{
    margin-left: 15%;
}
#MyAccount #MyAccount_researchName{
    margin-left: 15%;
}
#MyAccount .MyAccount_first {
    font-size: 20px;
    margin-left: 20%;
    margin-top: 20px;
}

#MyAccount .MyAccount_first span {
    color: lightcoral;
}

#MyAccount .MyAccount_sec {
    color: #4f5050;
    margin-left: 30%;
    margin-top: 40px;
}

#MyAccount .MyAccount_sec .el-input {
    width: 250px;
    margin-left:15%;
    height: 30px;
    display: inline-block;
}
#MyAccount .MyAccount_sec .userIdentity{
    margin-left: 15%;
}
#MyAccount .MyAccount_sec span {
    display: inline-block;
    width: 100px;
}

#MyAccount #MyAccount_submit {
    color: white;
    width: 20%;
    height: 40px;
    display: block;
    margin-top: 50px;
    margin-left: 40%;
    background-color: orangered;
    border: none;
    box-shadow: #1a1e21;
    border-radius: 10px;
    margin-bottom: 100px;
}
/*span .el-radio__inner{*/
/*    width: 14px;*/
/*    margin-right: 0px;*/
/*}*/
.userIdentity .el-radio__label{
    font-size: 15px;
}
input::-webkit-input-placeholder {
    font-size: 8px;
}
.MyAccount_avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    /*cursor: pointer;*/
    /*position: relative;*/
    overflow: hidden;
    margin-left: 47%;
    display: inline-block;
}
.MyAccount_avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.MyAccount_avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.avatar {
    width: 100px;
    height: 100px;
    display: inline-block;
}

