*{
     margin: 0px;
 }
h2{
    position: absolute;
    top:50px;
    left:150px;
    font-family: 幼圆;
    font-size: 40px;
    color: #42d0f0;
}
h2 span{
    font-size: 30px;
    color:#41464b;
}
#registerUp #sex{
    margin-left: 15%;
    height: 25px;
}
#registerUp #researchName{
    margin-left: 15%;
    height: 25px;
}
.first {
    font-size: 30px;
    margin-left: 20%;
    margin-top: 20px;
}
.first span {
    color: lightcoral;
}

.sec {
    color: #4f5050;
    margin-left: 30%;
    margin-top: 10px;
    height: 60px;
}

.sec .el-input{
    margin-left: 15%;
    width: 250px;
}
.sec .identity{
    /*margin-left: 12%;*/
}
.sec span {
    display: inline-block;
    width: 100px;
    font-size: 20px;
}

#login {
    color: white;
    width: 20%;
    height: 40px;
    display: block;
    margin-top: 100px;
    margin-left: 33%;
    background-color: orangered;
    border: none;
    box-shadow: #1a1e21;
    border-radius: 10px;
}
.el-radio__input{
    width: 14px;
}
#verify{
    color: red;
}
input::-webkit-input-placeholder {
    font-size: 8px;
}
.hello{
    width: 500px;
    /*border: solid 1px #c4d0ff;*/
    display: inline-block;
    margin-left: 2%;
}
#register .avatar-uploader .el-upload {
     border: 1px dashed #d9d9d9;
     border-radius: 6px;
     /*cursor: pointer;*/
     /*position: relative;*/
     overflow: hidden;
     margin-left: 47%;
     display: inline-block;
 }
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.avatar {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.next{
    margin-top: 70px;
    margin-left: 65%;
}
